*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

body{

}
:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

html{
  margin: 0px;
  padding: 0px;
  background: #FBFBFB
  ;
  height: 100vh;

}
h1{
  font-family: 'Poppins', sans-serif;
  font-size: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffa500;
}

.home-class{
  font-family: 'Poppins', sans-serif;
  font-size: 90px;
  margin-left: 30%;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  color: rgb(0, 0, 0);
  color: "black";
  font-weight: bolder;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 190px;
}
@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.img-home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
}

.img-intro{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

h2{
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

p{
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff
}

li{
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  margin-left: 50px;
}

.web-page-layout{
  position: relative;
  max-width: 1920px;
  width: 100%;
  height: 81vh;
  margin: 0px auto;
  display: flex;
  flex-direction: column-reverse;
  box-sizing: border-box;
} 

.web-page-layout h2{
  width: 100%;
  color: "#000000";
  font-size: 10em;
  position: absolute;
  transform: translate(-50%, -50%);
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-left: 50%;
}

.web-page-layout h2:nth-child(1){
  color: transparent;
  -webkit-text-stroke: 3px #03a9f4;
}

.web-page-layout h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

#Welcome{
  outline: none;
  height: 100px;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 32px;
  font-weight: bold; 
  pointer-events: all;
  cursor: pointer;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  padding: 5px 0px 80px 20px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

.navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar li{
  list-style: none;
  padding: 0px 20px;
  position: relative;
}

.navbar li a{
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: black;
  font-family: 'Poppins', sans-serif;
  transition: 0.3s ease-in-out;
}

.navbar li a:hover{
  color: #32CD32;
}

.navbar li a:hover::after{
  content: "";
  width: 40%;
  height: 2px;
  background: #32CD32;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

form{
  display: block;
  /* background-color: #fff; */
  /* box-shadow: 1px 1px 3px 2px #ddd; */
  margin: 40px auto;
  max-width: 900px;
  max-height: 900px;
}

form h1{
  color: black;
  font-size: 60px;
}

form input, textarea{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  font-family: "Poppins";
  background-color: #f1f1f1;
  border: 1px solid #ddd;
}

form span{
  color: rgb(29,185,239)
}

form button{
  height: 25px;
  width: 70px;
  align-items: center;
  border: none;
  background-color: rgb(29,185,239);
  color: #fff;
  font-family: "Poppins";
  cursor: pointer;
}

form div{
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  display: flex;
  flex-direction: column;
}

.card-body{
  margin: 10px 0px;
  /* border: 1px solid #fff; */
}

.card-title{
  font-size: 50px;
  padding: 0px;
  color: #FFD971;
  margin: 10px;
}

img{
  padding: 20px;
  width: 30%;
  height: 20%;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  object-fit: contain;
  box-sizing: border-box;
  border: none;
  flex-wrap: nowrap;

}

.img-container{
  display: flex;
  align-items: center;
  object-fit: contain;
  min-width: 720px;
  column-gap: 20px;
}

.color-img{
  display: flex;
  height: 500px;
  width: 100%;
  box-sizing: border-box;
}

.accordion-button{
  font-weight: bolder;
}

#accordionFlushExample{
  background-color: black;
}

.intro-title {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* color: transparent;
  background-color: white;
  background-clip: text; */
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.para{
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
}

li{
  margin-top: 20px;
  color: black;
  font: 700 normal 2.5em 'tahoma';
}

.accordion-item{
  font-size: 28px;
}
